/* готовая маска дла фото
<div class="class1">
  <div class="class2"></div>
</div>

.class1 {
  display: block;
  position: relative;
  background: red;
  width: 400px;
  height: 400px;
  border-radius: 50%;
 }

.class2 {
  position: absolute ;
  background: green;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 } */