/* общее */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.42;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}



/* header */
.header {
  display: flex;
  flex-direction: row;
  background: #5973b1;
  color: white;
  min-height: 77px;
  margin-bottom: 42px;
}

/* номер телефона стилизация */
.contacts__phone {
  color: inherit;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
}

.contacts__workhours {
  text-align: right;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  opacity: .7;
}

.header__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 15px;
}


/* main */
.main__container {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
}

.content {
  margin-left: 75px;
}

.airplane__cover-pic {
  display: block;
}

.main {
  margin-bottom: 60px;
}

/* in addition */
.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1100px;
}


.latestnews {
  margin-bottom: 50px;
}


.latestnews__avatar-frame {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}


.latestnews__list {
  display: flex;
}


.latestnews__date-title {
  display: flex;
  flex-direction: column;
}

.latestnews__date {
  color: #262424;
  font-weight: 300;
  line-height: 21px;
}




.menu {
  display: flex;
}

.menu__list {
  display: flex; 
  justify-content: start;
  align-items:flex-start;
}

.menu__item {
  display: flex;
  justify-content: start;
}

/* менюшка. отступ */
.menu__item {
  margin-left: 35px;
}

.menu__item:first-child {
  margin-left: 0px;
}

.menu__link {
  color: #5972b1;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.4px;
}

.menu__link:hover {
  color: black;
}

.menu__link:before {
  display: flex;
  content: "";
  margin-right: 13px;
  width: 23px;
  height: 18px;
  background: left center / contain no-repeat;
}

.menu__link {
  display: flex;
  flex-direction: row;
}

.menu__item--active .menu__link {
  color: black;
}

.menu__item--icon--main .menu__link:before {
  background: url('./img/icons/menu/sprite.png') -96px -48px;
}

.menu__item--icon--main .menu__link:hover:before {
  background: url('./img/icons/menu/sprite.png') -96px -10px;
}

.menu__item--icon--feed .menu__link:before {
  background: url('./img/icons/menu/sprite.png') -10px -48px;
}

.menu__item--icon--feed .menu__link:hover:before {
  background: url('./img/icons/menu/sprite.png') -50px -48px;
}

.menu__item--icon--team .menu__link:before {
  background: url('./img/icons/menu/sprite.png') -10px -10px;
}

.menu__item--icon--team .menu__link:hover:before {
  background: url('./img/icons/menu/sprite.png') -53px -10px;
}

.menu__item--active.menu__item--icon--main .menu__link:before {
  background: url('./img/icons/menu/sprite.png') -96px -10px;
}

.menu__item--active.menu__item--icon--feed .menu__link:before {
  background: url('./img/icons/menu/sprite.png') -50px -48px;
}

.menu__item--active.menu__item--icon--team .menu__link:before {
  background: url('./img/icons/menu/sprite.png') -53px -10px;
}


/* Шрифты */
.title {
  font-size: 49px;
}

.text__autor {
  font-weight: 700;
}

.copyright__link {
  color: inherit;
}

.tariffs__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.tariffs__name {
  font-size: 12px;
  text-transform: uppercase;
}

.tariffs__cost {
  font-size: 54px;
}




/* tariffs */
.tariffs__title {
  margin-bottom: 70px;
}




.tariffs__list {
  display: flex;
  flex-direction: row;
}


.tariffs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tariffs__avatar {
  display: flex;
  width: 68px;
  height: 68px;
  background: #5972b1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

/* .tariffs__content-ul-mod {
  list-style: disc;
} */

/* стилизация маркировка */
 .tariffs__content-ul {
  text-align: left;
  list-style: disc; 
  margin-left: 40px;
} 

.tariffs__text {
  max-width: 200px;
} 


/* Стилизация доллара */
.tariffs__cost {
  display: inline;
}

.tariffs__cost-mod {
  font-size: 30px;
}


/* pagination */
.pagination__title {
  font-size: 14px;
  color: #7c7b7b;
  margin-right: 18px;
}

.pagination__btn {
  text-decoration: none;
  color: #221f1f;
}

.pagination__btn_prev, .pagination__btn_next {
  margin-right: 9px;
}

.pagination__btn_active {
  color: #bebdbd;
}

.pagination__link {
  text-decoration: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
  font-size: 14px;
  color: #221f1f;
  transition: .3s;
}

.pagination__link:hover {
  color: #ffffff;
  background-color: #5972b1;
  border-radius: 3px;
}

.pagination__item_active .pagination__link {
  color: #ffffff;
  background-color: #5972b1;
  border-radius: 3px;
}

.pagination__list, .pagination__controlls, .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



/* footer */
.footer {
  display: flex;
  flex-direction: row;
  background: #5973b1;
  color: white;
  /* min-height: 77px; */
}

.footer__container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* Иконка в иконке соц. сеть */
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  /* background: #d4ddf2; */
  border-radius: 50%;
}

.socials__link:hover {
  background: white; 
}

.socials__list {
  display: flex;
  align-content: space-between;
}

/* .socials__list {
  vertical-align: top;
} */

.socials__title {
  margin: 0;
  margin-bottom: 10px;
}

.socials__item {
  margin-left: 10px;
}

.socials__item:first-child {
  margin-left: 0px;
}


.latestnews__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
}

.latestnews__title {
  font-size: 18px;
  font-weight: 700;
}

.latestnews__text p {
  margin: 0px;
  padding: 0px;
}





/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.dropdown__link {
  text-align: right;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  opacity: .7;
  color: white;
}

.dropdown:hover .dropdown__link {
  color: white; 
  opacity: 1;

}

.dropdown:hover .dropdown__menu {
  left: 0;
  opacity: 1;
}



.dropdown__menu {
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  /* padding: 10px; */
  width: 170px;
  height: 75px;
  top: 100%;
  margin-top: 10px;
  opacity: 0;
  transition: opacity .4s;
  left: -99999px;
}

.dropdown__menu:before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
}

.time1 {
  display: flex;
  justify-content: space-around;
  color: #3a5cbf;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: -10px;
}

.time2 {
  display: flex;
  justify-content: space-around;
  color: #262424;
  font-weight: 300;
}


/* треугольник для оформления */
.triangle {
  border: 10px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom-color: black;
  border-top-width: 0px;
  border-left-width: 8px;
  border-right-width: 8px;
  position: relative;
}

.triangle:after {
  content: "";
  border: 10px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom-color: rgb(255, 255, 255);
  border-top-width: 0px;
  border-left-width: 8px;
  border-right-width: 8px;
  position: absolute;
  top: 0;
  left: 0;
}